/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/storage/logs
/storage/framework/sessions
/storage/framework/views
/storage/framework/cache
/bootstrap/cache
public/hot
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.phar
phpunit.xml.cache
database/database.sqlite

# docker-compose.override.yml
sail
/.idea
/.vscode
